/* GITHUB PAGES */
/* Florian Doppler */
/* January 15th, 2020 */

/* GENERALLY */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    animation: fadein 2s;
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    scroll-behavior: smooth;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* HR */
hr {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: gray;
    size: 30;
}

/* P */
p {
    font-size: 20px;
}

/* A */
a {
    text-decoration: none;
    color: black;
    transition: font-weight .5s;
}

a:hover {
    font-weight: bolder;
}

/* NAVIGATION */
#Navigation {
    text-align: center;
    height: 90px;
    background-color: #ebe5dd;
    margin-bottom: 3%;
}

#Navigation a {
    margin: 1.5%;
    padding-top: 1.5%;
    font-size: 25px;
}

/* NAVIGATION EFFECT */
.container {
    position: absolute;
}

li {
    display: inline-block;
    margin-top: 1%;
}

li a {
    display: inline-block;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
    padding: 0 20px;
}
.cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* DIVS */
#Headline, #About, #School, #Photography, #Contact, #Footer {
    text-align: center;
    margin-bottom: 3%;
}

#About, #School, #Photography, #Contact, #Footer h1 {
    margin-bottom: 5%;
    font-size: 25px;
}

#Headline h1 {
    font-family: 'Beth Ellen', cursive;
    text-transform: lowercase;
    font-size: 60px;
}

#Contact img {
    width: 4%;
}

#Photography img {
    width: 15%;
    transition: opacity .5s;
}

#Photography img:hover {
    opacity: 0.7;
}